<h1>New book</h1>
<%= form_with model: book, method: :post do |f| %>
 <div><label>Title</label></div>
  <%= f.text_field :title %>
  <div><label>Opinion</label></div>
  <%= f.text_area :body %>
  <div><%= f.submit 'Create Book' %></div>
<% end %>